.AboutSection {
  max-width: 120rem;
  max-height: 100vh;
  height: 100vh;
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:initial;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .about-me{
        font-size: 1rem;
    }
}