.navbar-light .navbar-nav .nav-link {
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(6, 135, 240),
    rgb(15, 185, 251),
    rgb(112, 255, 183)
  );
  background-size: 200% 200%;
  animation: rainbow 1s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.2s ease-in-out;
  font-weight: 600;
  display: block;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
}
.navbar{
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.nav-bg-color {
  background-color: #0b0d0e;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255, .75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}
svg {
  height: 1.25rem;
  width: 1.25rem;
}
svg:hover{
    color: rgba(21, 255, 204, 0.835);
}
