.MainSection{
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    
}
@media only screen and (max-width: 768px) {
    .ProjectSection {
        height: 100%;
    }
    .content-2{
        text-align: center;
        font-size: 1rem;
    }
    .content-1{
        font-size: .75rem;
    }
    .content-3{
        font-size: .75rem;
    }
    .Typing-container{
        width: 90%;
        margin: 0 auto;
    }
}