.ProjectContent-container {
  margin-top: 10vh;
}
.wrap-project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.card {
  width: 480px;
  padding: 0 1rem;
  border-radius: 2rem;
  background-color: rgb(14, 14, 14);
  box-shadow:
  0 2.8px 2.2px rgba(6, 135, 251, 0.034),
  0 6.7px 5.3px rgba(6, 135, 251, 0.048),
  0 12.5px 10px rgba(6, 135, 251, 0.06),
  0 22.3px 17.9px rgba(6, 135, 251, 0.072),
  0 41.8px 33.4px rgba(6, 135, 251, 0.086),
  0 100px 80px rgba(6, 135, 251, 0.12);
}
.link-to{
    text-decoration: none;
    color: #fff;
    
    
}
.row-btn{
    margin: 0 auto;
    margin-top: 2rem;
}
.liveDemo{
    text-decoration: none;
    color: rgb(15, 179, 255);
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(15, 159, 255);
}
.liveDemo:hover{
    transition: .5s all ease;
    background-color: rgb(15, 159, 255);
    color: #000;
}


.card > .thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  transform: translateY(-1rem);
  transition: all 300ms ease-in-out;
  object-fit: cover;
}

.card > .content {
  padding: 0 1rem 2rem 1rem;
}

.card > .content .date {
  opacity: 0.8;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
.date{
    color: #fff;
}

.card > .content .project-title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.card:hover > .thumbnail {
  transform: translateY(-2rem);
  box-shadow: 0 20px 40px -5px rgba(192, 2, 106, 0.3);
}
