.SkillSection {
    max-width: 120rem;
    max-height: 140vh;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
@media only screen and (max-width: 768px) {
    .SkillSection {
        height: 100%;
    }
}