.Typing-container {
  color: #fff;
  max-width: 120rem;
  width: 50vw;
  margin: 0 auto;
  text-align: start;
  padding-top: 15vh;
}
.text-glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}
.inline {
  display: inline-block;
}
.wave {
  font-size: 3vw;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */

}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.content-1 {
  user-select: none;
  font-size: 1vw;
  letter-spacing: 2px;
}
.content-2 {
  user-select: none;
  font-size: 2vw;
  letter-spacing: 2px;
  font-weight: bold;
}
.content-3 {
  user-select: none;
  font-size: 1.25vw;
  color: rgb(214, 214, 214);
  animation: fade 1.5s;
}

.highlight {
  color: #f000;
  background: #e96443;
  background: linear-gradient(
    to right,
    rgb(6, 135, 240),
    rgb(15, 185, 251),
    rgb(112, 255, 183)
  );
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrap-content-1 {
  padding-bottom: 2vh;
}
.wrap-content-2 {
  padding-bottom: 2vh;
}
.wrap-content-3 {
  padding-bottom: 0rem;
}
