.welcome-container{
    color: rgb(243, 243, 243);
    display: block;
    max-width: 120rem;
    width: 46.875rem;
    padding: 25px;
}
.primary-welcome-text{
    padding-bottom: 10px;
}
.secondary-welcome-text{
    padding-bottom: 10px;
}